<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <title>Backbone.js carousel</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="css/globalStyles.css">
</head>

<body>

  <div class='container'>
    <h1>Backbone.js carousel</h1>
    <div id='carousel'></div>
  </div>

  <script id="carouselElement" type="text/template">
    <img src="<%= imgUrl %>" alt="<%= name %>" class="image" />
  </script>

  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/underscore/underscore-min.js"></script>
  <script src="/bower_components/backbone/backbone-min.js"></script>
  <script src="/carousel/js/config/constants.js"></script>
  <script src="/carousel/js/models/singleBlockModel.js"></script>
  <script src="/carousel/js/views/singleBlockView.js"></script>
  <script src="/carousel/js/views/blocksView.js"></script>
  <script src="/carousel/js/collections/blocksAPI.js"></script>
  <script src="/carousel/js/collections/blocksCarousel.js"></script>
  <script src="/carousel/js/routes/router.js"></script>
  <script src="/carousel/js/carouselApp.js"></script>

</body>
</html>